{% extends 'Gestion/base.html' %}

{% block content %}

{% include 'Gestion/ActeCivil.html' %}

    <p>Tableau des Acte de Mariages</p>

    <table width="100%" border="1" style="border-collapse:collapse;margin-top:3%;text-align:center;">
        <thead>
            <tr>
                <th>Matricule</th> <th>Marie</th> <th>Femme</th> <th>Date</th> <th>Lieu</th> <th>Temoin 1</th> <th>Temoin 2</th> <th>Père du marie</th> <th>Mère du marie</th> <th>Père de la femme</th> <th>Mère de la femme</th> <th>Officier</th> <th>Bureau</th> <th>Modifier</th> <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
                <tr>
                    <td>{{element.Matricule}}</td>
                    <td>{{element.marie}}</td>
                    <td>{{element.femme}}</td>
                    <td>{{element.DateM}}</td>
                    <td>{{element.LieuM}}</td>
                    <td>{{element.temoin1}}</td>
                    <td>{{element.temoin2}}</td>
                    <td>{{element.filiation_pere_marie}}</td>
                    <td>{{element.filiation_mere_marie}}</td>
                    <td>{{element.filiation_pere_femme}}</td>
                    <td>{{element.filiation_mere_femme}}</td>
                    <td>{{element.Officier}}</td>
                    <td>{{element.bureau}}</td>
                    <td><a href="{% url 'updActeM' element.Matricule %}">edit</a></td>
                    <td><a href="{% url 'delActeM' element.Matricule %}">X</a></td>
                </tr>
             {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'addActeM'%}"><input type="submit" value="Ajouter un Acte de Mariage"></a>

    {% block acte_inst %}{% endblock %}

{% endblock %}
